@import "tailwindcss";

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;

    .k-title {
        font-family: "Doto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }

    /*
        Prefers color scheme implemented on the theme switcher manager
        The theme is directed by the `data-theme` attribute on the body
    */

    --theme-main: var(--color-purple-600);

    /* dark mode */
    &[data-theme="dark"] {
        --theme-background-from: rgb(63, 63, 70);
        --theme-background-to: rgba(24, 24, 27, 1);
        --theme-text: var(--color-gray-300);
    }

    /* light mode */
    &[data-theme="light"] {
        --theme-background-from: var(--color-gray-100);
        --theme-background-to: var(--color-gray-400);
        --theme-text: var(--color-gray-800);
    }

    @apply text-[var(--theme-text)] animate-gradient;

    background: var(--theme-background-from);
    background: -moz-radial-gradient(
        circle,
        var(--theme-background-from) 0%,
        var(--theme-background-to) 90%
    );
    background: -webkit-radial-gradient(
        circle,
        var(--theme-background-from) 0%,
        var(--theme-background-to) 90%
    );
    background: radial-gradient(
        circle,
        var(--theme-background-from) 0%,
        var(--theme-background-to) 90%
    );

    background-repeat: no-repeat;

    #app {
        @apply min-w-md max-w-md mx-auto;

        /* display: grid;
        grid-template-rows: fit-content fit-content fit-content; */

        button {
            @apply cursor-pointer;
        }
    }
}

/* utils */

.animated-text {
    @apply font-bold bg-gradient-to-r from-purple-900 via-purple-500 to-purple-200 text-transparent bg-clip-text animate-gradient;
}

@utility animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
