@import "tailwindcss";

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;

    @apply bg-zinc-900 text-white;

    #app {
        @apply min-w-xl max-w-xl mx-auto;
    }
}
