@import "tailwindcss";

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;

    @apply bg-zinc-900 text-white;

    #app {
        @apply min-w-xl max-w-xl mx-auto;
    }
}
.animated-text {
    @apply font-bold bg-gradient-to-r from-purple-900 via-purple-500 to-purple-200 text-transparent bg-clip-text animate-gradient;
}

@utility animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
